
body{
    background-color: beige;
}
h1{
    color: blue;
}


.grid-item{
    
    float: left;
    background-color:yellowgreen;
    margin: 1%;
    Padding:1%;
    width: 29%;
    display: inline;
    text-align: center;
    list-style-image: none;
}
